@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: white;
}
body {
    background: linear-gradient(to bottom, #00008B, #1E90FF	) no-repeat;
    min-height: 100vh;
}

/* Topo da página */
.topo {
    display: flex;
    align-items: center;
    padding: 15px;
    #logo {
        width: 250px;
        
    }
    
}
#links {
    margin-left: 800px;
    width: 400px;
    display: flex;
    justify-content: space-around;
    a {
        color: white;
        font-size: 17px;
        text-decoration: none;
    }
    a:hover {
        color: #D3D3D3;;
    }
}
/* ------------------------*/

/* Main */
main {
    margin-left: 68px;
    width: 600px;
    height: 400px;
    #txtInicial{
        width: 650px;
        span {
            color: #00ffff;
        }
    }
    #descriçãoInicial {
        margin-top: 20px;
        width: 550px;
        text-align: justify;
        span {
            font-size: 20px;
        }
    }
    #btn {
        margin-top: 20px;
        button {
            height: 35px;
            width: 200px;
            color: black;
            font-weight: 500;
            font-size: 15px;
            border-radius: 18px;
            background-color: #00ffff;
            border: 1px solid #001f3f;
        }
    }
}
/* IMAGEM DO SOFÁ AO LADO DO TEXTO INICIAL */
#imgSofa {
    position: relative;
    display: flex;
    justify-content: flex-end;
    img {
        position: absolute;
        width: 500px;
        height: 400px;
        margin-right: 250px;
        bottom: 5px;
        border-radius: 10px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    }
}
