@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: white;
}
body {
    background: linear-gradient(to bottom, #00008B, #1E90FF	) no-repeat;
    height: 100vh;
}

/* Topo da página */
.topo {
    display: flex;
    align-items: center;
    padding: 15px;
    #logo {
        width: 250px;
        
    }
    
}
#links {
    margin-left: 800px;
    width: 400px;
    display: flex;
    justify-content: space-around;
    a {
        color: white;
        font-size: 17px;
        text-decoration: none;
        position: relative;
    }
    a::after {
        content: '';
        position: absolute;
        width: 0;
        height: 3px;
        display: block;
        margin-top: 5px;
        right: 0;
        background: #00ffff;
        transition: width 0.3s ease;
    }
    a:hover::after {
        width: 100%;
        left: 0;
        background: #00ffff;
    } 
   
}
/* ------------------------*/

/* Main */
main {
    margin-left: 68px;
    width: 600px;
    height: 400px;
    #txtInicial{
        width: 650px;
        span {
            color: #00ffff;
        }
    }
    #descriçãoInicial {
        margin-top: 20px;
        width: 550px;
        text-align: justify;
        span {
            font-size: 18px;
        }
    }
    #btn {
        margin-top: 20px;
        button {
            height: 35px;
            width: 200px;
            color: black;
            font-weight: 500;
            font-size: 15px;
            border-radius: 18px;
            background: linear-gradient(45deg, #00ffff, #001f3f);
            position: relative;
            transform-origin: center; 
            transition: transform 0.4s, box-shadow 0.2s;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        button:hover {
            transform: scale(1.05); 
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
        }  
    }
    
}
/* IMAGEM DO SOFÁ AO LADO DO TEXTO INICIAL */
#imgSofa {
    position: relative;
    display: flex;
    justify-content: flex-end;
    img {
        position: absolute;
        width: 500px;
        height: 400px;
        margin-right: 250px;
        bottom: 5px;
        border-radius: 10px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    }
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    #ParteDeBaixo {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #001f3f;
        width: 800px;
        height: 90px;
        border-radius: 30px;
        i {
            font-size: 20px;
            display: flex;
        }
    }
    
}
#quemSomos {
    background-image: linear-gradient(to bottom, white, #7abcff);
}

#quemSomos {
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    margin-top: 150px;
    height: 500px;

    #imgSobre {
        display: flex;
        /* margin-top: 300px; */
        margin-left: 60px;
       img {
        height: 350px;
        border-radius: 5px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
       }
    }
  

    #SobreAempresa{
        /* border: 2px solid black; */
        height: 400px;
        width: 500px;
        margin-left: 300px;
        #imgEstrelas {
            display: flex;
            justify-content: center;
            img {
                height: 80px;
            }
        }
        h3 {
            margin-top: 10px;
            color: #001f3f;
            display: flex;
            justify-content: center;
        }
        p {
            margin: 10px;
            color: black;
            font-size: 18px;
            strong {
                color: #001f3f;
            }
        }
    }

       #redeSocias {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}

